<form [formGroup]="form" (ngSubmit)="saveRefund()">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button type="button" (click)="close()">
        <mat-icon>close</mat-icon>
      </button>
      <span class="refundForm__toolbarTitle">New Refund</span>
      <span class="refundForm__spacer"></span>
      <button mat-button class="refundForm__saveButton" type="submit">Save</button>
    </mat-toolbar-row>
  </mat-toolbar>

  <main class="refundForm__main">
    <p class="refundForm__description">To create a refund draft, enter the reason.</p>
    <mat-form-field class="refundForm__formField">
      <input #reason matInput required formControlName="reason" placeholder="Reason" (keyup.esc)="close()" />
      <mat-error>You must enter a value</mat-error>
    </mat-form-field>
  </main>
</form>
