:host {
  .refundForm {
    &__toolbarTitle {
      margin-left: 16px;
    }

    &__spacer {
      flex: 1;
    }

    &__saveButton {
      text-transform: uppercase;
    }

    &__main {
      padding: 16px;
      width: 100%;
      max-width: 425px;
      box-sizing: border-box;
    }

    &__description {
      margin-top: 0;
    }

    &__formField {
      width: 100%;
    }
  }
}
