<ng-container *ngIf="showActions(); else toolbarWithoutActions">
  <mat-toolbar class="refundDetail__toolbar" color="primary">
    <mat-toolbar-row class="refundDetail__toolbarRowActions">
      <button mat-icon-button (click)="closeRefund()">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <button mat-icon-button *ngIf="showActions()" (click)="deleteRefund()">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-toolbar class="refundDetail__toolbar refundDetail__toolbar--priority" color="primary">
    <mat-toolbar-row>
      <span class="refundDetail__toolbarTitle">Refund details</span>
      <button
        mat-mini-fab
        color=""
        class="refundDetail__fabNewExpense"
        aria-label="New Expense"
        *ngIf="showActions()"
        (click)="selectExpense.emit({})"
      >
        <mat-icon>add</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
</ng-container>

<ng-template #toolbarWithoutActions>
  <mat-toolbar class="refundDetail__toolbar" color="primary">
    <mat-toolbar-row>
      <button mat-icon-button (click)="closeRefund()">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <span class="refundDetail__toolbarTitle--singleLine">Refund details</span>
    </mat-toolbar-row>
  </mat-toolbar>
</ng-template>

<ng-container *ngIf="expenses$ | async as expenses">
  <footer class="refundDetail__footer">
    <div class="refundDetail__descriptionWrapper">
      <div class="refundDetail__infoWrapper">
        <span class="refundDetail__infoLabel">Date</span>
        <span class="refundDetail__infoValue">{{ refund.date | date }}</span>
      </div>

      <div class="refundDetail__infoWrapper">
        <span class="refundDetail__infoLabel">Status</span>
        <span class="refundDetail__infoValue">{{ refund.status }}</span>
      </div>

      <div class="refundDetail__infoWrapper">
        <span class="refundDetail__infoLabel">Reason</span>
        <span class="refundDetail__infoValue">{{ refund.reason }}</span>
      </div>
    </div>

    <button mat-flat-button class="refundDetail__confirmButton" color="primary" *ngIf="showActions()" (click)="confirmRefund()">
      Confirm
    </button>
  </footer>
</ng-container>
