:host {
  .refundDetail {
    position: relative;
    display: block;
    min-height: 100vh;

    &__toolbar {
      z-index: 2;

      &--priority {
        position: sticky;
        top: 0;
      }
    }

    &__toolbarRowActions {
      justify-content: space-between;
    }

    &__toolbarTitle {
      margin-left: 56px;

      &--singleLine {
        margin-left: 16px;
      }
    }

    &__fabNewExpense {
      position: absolute;
      bottom: -20px;
    }

    &__amountExpenses {
      text-align: right;
      padding-right: 16px;
    }

    &__footer {
      padding: 16px;
      width: 100%;
      max-width: 425px;
      box-sizing: border-box;
    }

    &__descriptionWrapper {
      margin-bottom: 16px;
    }

    &__totalWrapper {
      display: flex;
      align-items: baseline;
      justify-content: space-between;
      margin-bottom: 16px;
    }

    &__totalLabel {
      text-transform: uppercase;
      color: #9e9e9e;
    }

    &__totalValue {
      font-size: 1.5rem;
      font-weight: 400;
    }

    &__infoWrapper {
      display: flex;
      justify-content: space-between;
    }

    &__infoLabel {
      font-size: 0.875rem;
      line-height: 1.5;
    }

    &__infoValue {
      font-size: 0.875rem;
      line-height: 1.5;
      color: #9e9e9e;
    }

    &__confirmButton {
      width: 100%;
      text-transform: uppercase;
    }
  }
}
