:host {
  .refundExpense {
    &__toolbarTitle {
      margin-left: 16px;
    }

    &__spacer {
      flex: 1;
    }

    &__saveButton {
      text-transform: uppercase;
    }

    &__main {
      padding: 16px;
      width: 100%;
      max-width: 425px;
      box-sizing: border-box;
    }

    &__formField {
      width: 100%;
    }

    &__inputAmount {
      text-align: right;
      appearance: textfield;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        display: none;
      }
    }
  }
}
