@import '../../../styles/theme';

:host {
  display: block;
  padding-bottom: 72px;

  ::ng-deep {
    .header-row {
      display: flex;
      align-items: center;
      height: 64px;
      padding: 0 8px;
      background-color: white;
      overflow-x: auto;

      &.selected {
        background-color: mat-color($app-accent, 50);

        .mat-body {
          color: mat-color($app-accent, 500);
        }
      }
    }

    .mat-chip-list-wrapper {
      flex-wrap: nowrap;

      .mat-chip {
        white-space: nowrap;

        .mat-icon {
          margin-left: -10px;
          margin-right: 4px;
        }
      }
    }

    .wrapper-table {
      overflow-x: auto;
    }

    .mat-table {
      width: 100%;
      min-width: 320px;
    }
  }

  .mat-fab {
    position: fixed;
    bottom: 16px;
  }
}
