:host {
  ::ng-deep {
    .refunds {
      @at-root #{&}__fabNewRefund {
        position: fixed;
        bottom: 16px;
      }
    }

    .refundDetail {
      position: relative;
      display: block;
      min-height: 100vh;

      @at-root #{&}__priorityActionsToolbar {
        position: sticky;
        top: 0;
      }

      @at-root #{&}__title {
        margin-left: 56px;
      }

      @at-root #{&}__fabNewExpense {
        position: absolute;
        bottom: -20px;
      }

      @at-root #{&}__footer {
        position: fixed;
        bottom: 0;
        padding: 16px;
        width: 100%;
        max-width: 425px;
        box-sizing: border-box;
      }

      @at-root #{&}__totalWrapper {
        display: flex;
        justify-content: space-between;
      }

      @at-root #{&}__totalLabel {
        text-transform: uppercase;
      }

      @at-root #{&}__totalValue {
      }

      @at-root #{&}__confirmButton {
        width: 100%;
        text-transform: uppercase;
      }
    }
  }
}

::ng-deep {
  .mat-dialog-container {
    border-radius: 0;
    padding: 0;
  }

  .title-toolbar {
    margin-left: 8px;
  }

  .content-full-dialog {
    padding: 16px;
  }

  .main {
    flex: 1;

    .mat-list-base {
      padding: 0;
    }

    .mat-list-base .mat-list-item .mat-list-avatar {
      border-radius: 0;
    }
  }

  .amount-expenses {
    text-align: right;
    padding-right: 16px;
    padding-left: 16px;
  }
}
