<app-loading *ngIf="loading$ | async"></app-loading>

<ng-container *ngIf="selectedRefund; else refundList">
  <app-refund-expense
    *ngIf="selectedExpense; else refundDetail"
    [expense]="selectedExpense"
    (unselectExpense)="handleUnselectExpense()"
    (deleteExpense)="handleDeleteExpense()"
    (saveExpense)="handleSaveExpense()"
  ></app-refund-expense>

  <ng-template #refundDetail>
    <app-refund-detail
      [refund]="selectedRefund"
      [showActions]="showActions"
      [disableActionConfirm]="disableActionConfirm"
      (unselectRefund)="handleUnselectRefund()"
      (deleteRefund)="handleDeleteRefund()"
      (confirmRefund)="handleConfirmRefund()"
      (selectExpense)="handleSelectExpense($event)"
    ></app-refund-detail>
  </ng-template>
</ng-container>

<ng-template #refundList>
  <app-refund-list
    [refunds]="refunds$ | async"
    (newRefund)="handleNewRefund()"
    (selectRefund)="handleSelectRefund($event)"
  ></app-refund-list>
</ng-template>
