@import '../../../styles/theme';

:host {
  display: block;
  padding-bottom: 72px;

  ::ng-deep {
    .wrapper-table {
      overflow-x: auto;
    }

    .mat-table {
      width: 100%;
      min-width: 320px;
    }
  }
}
