@import './theme';

html {
  height: 100vh;
  width: 100%;
  background-color: mat-color($app-primary, 50);
  overflow-y: scroll;
}

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  min-height: 100vh;
  width: 100%;
  max-width: 425px;
  margin: 0 auto;
  background-color: mat-color($app-primary, '500-contrast');
  box-sizing: border-box;
}
