@import './theme';
@import './material';

html {
  height: 100vh;
  width: 100%;
  background-color: mat-color($app-primary, 'A200');
}

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  height: 100vh;
  width: 100%;
  max-width: 425px;
  margin: 0 auto;
  box-sizing: border-box;
}

.uppercase {
  text-transform: uppercase;
}

.full {
  width: 100%;
}

.spacer {
  flex: 1 1 auto;
}
