@import '~@angular/material/theming';

@include mat-core();

$app-palette-primary: (
  50: #e0efff,
  100: #b3d7ff,
  200: #80bdff,
  300: #4da2ff,
  400: #268eff,
  500: #007aff,
  600: #0072ff,
  700: #0067ff,
  800: #005dff,
  900: #004aff,
  A100: #ffffff,
  A200: #f2f5ff,
  A400: #bfceff,
  A700: #a6baff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$app-palette-accent: (
  50: #ffe6eb,
  100: #ffc0cc,
  200: #ff96aa,
  300: #ff6c88,
  400: #ff4d6f,
  500: #ff2d55,
  600: #ff284e,
  700: #ff2244,
  800: #ff1c3b,
  900: #ff112a,
  A100: #ffffff,
  A200: #fff8f9,
  A400: #ffc5ca,
  A700: #ffacb3,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$app-palette-warn: (
  50: #ffe7e6,
  100: #ffc4c1,
  200: #ff9d98,
  300: #ff766e,
  400: #ff584f,
  500: #ff3b30,
  600: #ff352b,
  700: #ff2d24,
  800: #ff261e,
  900: #ff1913,
  A100: #ffffff,
  A200: #fffafa,
  A400: #ffc8c7,
  A700: #ffafad,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$app-primary: mat-palette($app-palette-primary);
$app-accent: mat-palette($app-palette-accent);
$app-warn: mat-palette($app-palette-warn);
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

@include angular-material-theme($app-theme);
